<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout">
        <environmentVariables>         
          <environmentVariable name="DYO_MONGODB_CONNECTIONSTRING" value="mongodb://admin:eRgmf25SREeI0UXT@sensewire-shard-00-00-qr94l.mongodb.net:27017,sensewire-shard-00-01-qr94l.mongodb.net:27017,sensewire-shard-00-02-qr94l.mongodb.net:27017/test?ssl=true&amp;replicaSet=sensewire-shard-0&amp;authSource=admin&amp;retryWrites=true&amp;w=majority" />
          <environmentVariable name="DYO_MONGODB_NAME" value="sensewire_documents" />
          <environmentVariable name="DYO_STORAGE_ADAPTER_SERVICE_PORT" value="9022" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: f305cad5-be38-4391-a692-580c526a0cb1-->